.noSuchPageFound{
  font-size: 20px;
  text-align: center;
  margin-top: 40px;
}
.formatting h1, .formatting h2, .formatting h3, .formatting h4 {
    font-weight: 500;
    line-height: 1em;
    padding: .5em 0;
}
.formatting h1 {
    font-size: 28px;
    line-height: 40px;
}
.header{
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.moba{
  min-width:100%;
  max-width:100%;
}

.flexMobile{
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around
}



@media(min-width: 768px) {

}
@media(max-width: 768px) {
  .flexRoot{
    flex-direction: row;
  }
  .flexGrid{
    min-width: 100%!important;
    max-width: 100%!important;
  }
}
