.leftNav{
  flex: 1;
}
.fadeIn{
  opacity: 1;
}

.backButton {
  opacity: 1;
}
// @media(max-width: 768px) {
//   .navBar {
//     display: none;
//     left: -350px;
//   }
//
// }
// .navinVis{
//   display: none!important;
// }
// @media(min-width: 768px) {
  .leftNav {
    min-width: 340px;
    max-width: 340px;
  }
  .leftNav.minimal {
    min-width: 100px;
    max-width: 100px;
  }
  .leftNav.navinVis {
    display: none!important
  }
  //style={{minWidth: 340, maxWidth: 340, flex: 1, display: 'flex'}}
// }
